.partners {
  border-bottom: 1px solid $light-gray;
  
  @media (min-width: 768px){
    border: none;
    width: 50%;
    background-color: $light-gray;
    margin-right: 15px;
  }
}

.partners__wrapper {
  padding: 0 30px; 
    
  @media (min-width: 1440px) {
    padding: 0;
    padding-left: 110px; 
  }
  
}

.partners__link {
  cursor: pointer; 
  
  &:hover {
    opacity: 0.8;
  }
  
  &:active {
    opacity: 0.6;
  }
}

.partners__title {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 30px;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 36px;
  }
  
  @media (min-width: 1440px) {
    padding: 0 110px; 
  }
}

.partners__name {
  text-transform: none;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
  
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.partners__description {
  color: $special-dark-gray;
  margin-top: 0;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 35px;
  }
}

