.products  {
  background-color: $basic-gray;
  
  @media (min-width: 768px) {
    background-color: inherit;
  }
}

.products__wrapper {
  padding: 0 30px 5px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100px;
    padding-top: 20px;
  }

  @media (min-width: 1440px) {
    padding: 10px 110px;
  }
}

.products__title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0 0 30px;
  text-transform: uppercase;
  

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding-left: 0;
    padding-bottom: 20px;
    padding-top: 0;
  }

  @media (min-width: 1440px) {
    margin-top: 5px;
    margin-bottom: -5px;
  }
}

.products__link {
  display: inline-block;
  cursor: pointer; 
  position: relative;
  padding-left: 28px;
  width: 100%;
  
  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 10px;
    background: url("../img/icon/arrow.svg") no-repeat;
    top: 20px;
    left: 0;
  }
  
  &:hover {
    opacity: 0.8;
  }
  
  &:active {
    opacity: 0.6;
  }
  
}

@media (min-width: 768px) {
  .products__link {
    width: 50%;
    padding-left: 0;
    padding-top: 10px;
    
    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 20px;
      background: url("../img/icon/vector-check.svg") no-repeat;
      top: -5px;
      left: 50%;
    }
  }
  
  .products__name,
  .products__description {
    text-align: center;
    padding-bottom: 10px;
  }
}

.products__name {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
  
  span {
    display: block;
    
    @media (min-width: 768px) {
      display: inline;
    }
  }
}

.products__description {
  margin-top: 0;
}
