@mixin button-text {
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.button {
  width: 260px;
  margin: 0 auto;
  height: 30px;
  background-color: $basic-green;
  text-align: center;
  color: $background;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $hover-green;
  }

  &:active {
    color: $white-opacity;
  }
}

.button__company {
  @include button-text;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 0;

  @media (min-width: 768px) {
    width: 248px;
    margin-top: 0;
  }
}


.button__catalog-main--more {
  @include button-text;
  background-color: $basic-gray;
  color: $special-dark-gray;
  margin-bottom: 25px;

  &:hover {
    background-color: $light-gray-border-catalog;
  }

  &:active {
    color: $special-dark-gray-opacity;
    outline: none;
  }

  &:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    margin-bottom: -3px;
    width: 248px;
    height: 40px;
    padding: 10px 0;
  }

  @media (min-width: 1440px) {
    width: 168px;
    margin-bottom: -2px;
  }
}
