// Colors

$basic-green: #68b738;
$hover-green: #5eaa2f;
$background: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.3);
$dark-opacity-first: rgba(0, 0, 0, 0.16);
$dark-opacity-second: rgba(0, 0, 0, 0.19);
$dark-opacity-third: rgba(0, 0, 0, 0.2);
$dark-opacity-fourth: rgba(0, 0, 0, 0.3);
$color-basic: #111111;
$black-basic: #000000;
$background-promo: rgba(104, 183, 56, 0.85);
$shadow-promo: 0 4px 4px rgba(0, 0, 0, 0.25);
$basic-gray: #f2f2f2;
$special-dark-gray: #444444;
$special-dark-gray-opacity: rgba(68, 68, 68, 0.3);
$special-dark-gray-option: #222222;
$light-gray: #e6e6e6;
$light-gray-border: #e7e7e7;
$light-gray-radio: #cdcdcd;
$light-gray-border-catalog: #ebebeb;
$light-gray-footer: #d9d9d9;
$light-gray-stats: #eaeaea;
$light-gray-plus: #d3d3d3;
$red-error: #ff8282;
$light-valid-gray: #bababa;
$icon-gray: #666666;
